extends ../template/layout

block content
  
  main(class='container')
    
    section(class='row')
    
      div(class='col-8')  
      
        h1 cambiar foto de perfil.
        
        if foto != ''
          - foto = email+'/perfil/'+foto;
        else
          - foto = 'perfil/default.png';
        
        center          
          img(src='http://localhost:4040/web/img/#{foto}' style='width:200px; height:200px')
        
        form(class='form' method='post' action='http://localhost:4040/app/perfil/foto' enctype="multipart/form-data")   
          
          input(type="hidden", name="email", id="email" value="#{email}")
          
          div(class='control')
            label(for='foto' class='form-label' name='') Seleccione una foto.
            input(type="file" class='form-input' name='foto' id='foto')
          div(class='control')
            button(class='') cambiar foto  
          
        
        div(class='msj success hidden')
          div(class='icon-cross close')
          div(class='mensaje')
            
        div(class='msj error hidden')
          div(class='icon-cross close')
          div(class='mensaje')        
    
        center
          a(href="http://localhost:4040/app/perfil") #[span(class='icon icon-home')]    
      
      
  block script 
