extends ../template/layout

block content
  
  main(class='container')
    section(class='row')
      div(class='col-12')
        h2 Editar un gasto
        
        form(class='form')
          input(type='hidden', name='id' id='id' value='#{resultado[0].gastos_id}')
          div(class='control')
            label(for="" class='form-label') Categoria 
            select(class='form-combo' name='comboCategoria' id='comboCategoria')
              option(value='#{resultado[0].tipo_gasto_id}')= resultado[0].descripcion
              option(value='1') Salario
              option(value='2') Bono
          div(class='control')
            label(for='' class='form-label' name='') valor
            input(type="number" class='form-input' name='txtValor' id='txtValor' value='#{resultado[0].valor}')
          div(class='control')
            label(for="" class='form-label') Fecha de publicacion
            input(type="date" class='form-input' name='dateFechaCreacion' id='dateFechaCreacion' value='#{resultado[0].fecha_creacion}')
          div(class='control')
            button(class='btnEditarGasto') actualizar
          
        p da click #[a(href='http://localhost:4040/app/gastos') aqui ] para volver
        
        div(class='msj success hidden')
          div(class='icon-cross close')
          div se ha actualizado con exito.
          
        div(class='msj error hidden')
          div(class='icon-cross close')
          div ahy un error.
        
        
  block script
