/*
movil = 768px
tablet = 1024px
escritorio = 1200px

// Móviles en horizontal o tablets en vertical
@media (min-width: movil)
  [class^=col]
    background blue

// Tablets en horizonal y escritorios normales
@media (min-width: tablet)
  [class^=col]
    background yellow

// Escritorios muy anchos
@media (min-width: escritorio)
  [class^=col]
    background red
*/
