    // botones
    button(class='btn-small') small
    button(class='btn-default') default
    button(class='btn-big') big
    button(class='btn-default btn-error') Error
    button(class='btn-default btn-info') Info
    button(class='btn-default btn-success') Success
    button(class='btn-default btn-warning') Warning
