extends ../template/layout

block content 
  
  section
    div.col-1
      p col 1
      
    div.col-1
      p col 1
    
    div.col-1
      p col 1
      
    div.col-1
      p col 1
    
    div.col-1
      p col 1
      
    div.col-1
      p col 1
    
    div.col-1
      p col 1
      
    div.col-1
      p col 1 
    
    div.col-1
      p col 1
      
    div.col-1
      p col 1
    
    div.col-1
      p col 1
      
    div.col-1
      p col 1
      
      
      
    div.col-2
      p col 2
    
    div.col-2
      p col 2
    
    div.col-2
      p col 2
    
    div.col-2
      p col 2
    
    div.col-2
      p col 2
    
    div.col-2
      p col 2
    
    
    div.col-3
      p col 3
      
    div.col-3
      p col 3
      
    div.col-3
      p col 3
      
    div.col-3
      p col 3
    
