
div(class='msj warning') 
div(class='icon-cross close' id='hola')
div warning

div(class='msj error')
div(class='icon-cross close')
div error

div(class='msj info') 
div(class='icon-cross close')
div info

div(class='msj success')
div(class='icon-cross close')
div success
