extends ../template/layout

block content 
  
  h2(class='header-title text-center') Cuenta de usuario
  form(class='form')
    div.control      
      label(for="email" class="form-label") Email
      input(type="email", class="form-input" placeholder="Ingrese su email" name="email" id="email")
    div.control
      label(for="contrasena" class="form-label") Contrase単a
      input(type="password", class="form-input" placeholder="Ingrese su contrase単a" name="contrasena" id="contrasena")
    div.control
      label(for="contrasena" class="form-label") confirmar Contrase単a
      input(type="password", class="form-input" placeholder="Ingrese su contrase単a" name="contrasena2" id="contrasena2")
    div.control
      button(class='form-button' id='btnSignup') Crear cuenta
      
    a(href="/" class="text-center") Inicio
    
    div(class='msj success hidden')
      div(class='icon-cross close')
      div se ha registrado con exito
    
    div(class='msj error hidden')
      div(class='icon-cross close')
      div ahy un error
    
  
