extends ../template/layout

block content 
  
  h2 Crear cuenta
  
  form(action="")
    label(for="email") Email
    input(type="email", placeholder="Ingrese su email" name="email" id="email")
    label(for="contrasena") Contrase単a
    input(type="password", placeholder="Ingrese su contrase単a" name="contrasena" id="contrasena")
    label(for="confirmar_contrasena") Confirmar contrase単a
    input(type="confirm_password", placeholder="Confirmar contrase単a" name="confirmar_contrasena" id="confirmar_contrasena")
    button Singup
    
    a(href="/") Inicio
