
/*
info azul
danger rojo
warning amarillo
success verde
*/

// Móviles pequeños o moviles en vertical


  //border 1px solid #aaa

form.form
  display block
  width 90%
  margin auto
  a
    display block
    text-align center
  //border 1px solid #ccc
  div.control
    display block
    margin-bottom 1.5%
    margin-top 1.5%
    label.form-label
      display block
      width 95%
      text-align left
      padding-right 0.5%
    select.form-combo
      display block
      width 100%
      padding 1% 2%
    input.form-input
      width 95%
      display block
      padding 5px 10px
      border-radius 2.5px
      border 1px solid #ccc
   .form-button
      //width 33%
      padding 0.2% 3%



// Móviles en horizontal o tablets en vertical
@media (min-width: movil)

  div.control
    label.form-label
      display inline-block
      width 20%
      text-align right
    input.form-input
      width 50%
      display inline-block

// Tablets en horizonal y escritorios normales
@media (min-width: tablet)
  form.form
    width 80%

  // Escritorios muy anchos
  //@media (min-width: escritorio)
