@import url('https://fonts.googleapis.com/css?family=Lobster|Oxygen|Roboto+Slab|Yanone+Kaffeesatz');

/*
font-family: 'Roboto Slab', serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/

tituloPrincipal()
  font-family titulo sans-serif
  font-size letra-extra-grande
  color gris-oscuro
  font-weight: bold
  text-align center

tituloSencundario()
  font-family titulo sans-serif
  font-size letra-grande
  color gris-oscuro
  font-weight: bold

parrafo()
  font-family parrafo sans-serif
  font-size letra-mediana
  color gris

link()
  font-family parrafo sans-serif
  font-size letra-mediana
  color azul
  text-decoration none


h1, h2, h3
  tituloPrincipal()

h4, h5, h6

p, li, label, span, button, table, input, select
  parrafo()

a
  link()

.header-title
  display block
  width 98%
  padding 0.5% 0% 0% 1.5%
  //border 1px solid #aaa

.text-center
  text-align center

.text-right
  text-align right

.text-left
  text-align left

.text-upper
  text-transform uppercase

.text-lower
  text-transform lowercase

.text-capitalize
  text-transform capitalize

.text-none
  text-transform none

.text-underline
  text-decoration underline

.text-weight
  font-weight bold
