
message(bgColor, fontColor)
  background bgColor
  color fontColor
  border 1px solid bgcolor

.close
  float right

.msj
  overflow-x hidden
  margin 3% 0.5%
  padding 2%
  parrafo()

.warning
  message(amarilloClaro, amarilloOscuro )

.error
  message(rojoClaro, rojoOscuro)

.info
  message(verdeClaro, verdeOscuro)

.success
  message(azulClaro, azulOscuro)
