// tamaños de la pantalla
movil = 768px
tablet = 1024px
escritorio = 1200px
columna = 8.3333333333%

// letras
titulo = 'Yanone Kaffeesatz'
parrafo = 'Roboto'
cursiva = 'Lobster'

// tamaño de la letra
letra-extra-grande = 2.0em
letra-grande = 1.6em
letra-mediana = 1.1em
letra-pequena = 0.9em

// color de las fuentes
gris-oscuro = #666
gris = #888
azul = #4db8ff
blanco = #fff

// color de los mensajes y botones
// error
rojoOscuro = #ff4d4d
rojoClaro = #ffcccc
// info
verdeOscuro = #00b300
verdeClaro = #b3ffb3
// success
azulOscuro = #0099cc
azulClaro = #b3ecff
// warning
amarilloClaro = #fff0b3
amarilloOscuro = #b3b300
