extends ../template/layout

block content
  
  include ../template/menu.jade
  
  main(class='container')    
    section(class='row')
      div(class='col-12') 
        h1 Estaditica.     
        
  
  block script 
