doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='http://localhost:4040/web/css/stylus/main.css')
    link(rel="stylesheet", href="http://localhost:4040/web/css/icon.css")
  body
    block content            
      
    script(src='http://localhost:4040/web/bower/jquery/dist/jquery.min.js')
    //script(src='http://localhost:4040/web/js/build/main.js')
    script(src='http://localhost:4040/web/js/source/login.js')
    script(src='http://localhost:4040/web/js/source/script.js')
    script(src='http://localhost:4040/web/js/source/menu.js')
    script(src='http://localhost:4040/web/js/source/ingreso.js')
    script(src='http://localhost:4040/web/js/source/gasto.js')
    script(src='http://localhost:4040/web/js/source/perfil.js')
    block script
