
header

  div(class='menu-bar')
    span Menu  
  nav(class='menu')
    ul
      li
        a(href="http://localhost:4040/app") Inicio
      li
        a(href="http://localhost:4040/app/ingresos") Ingresos
      li
        a(href="http://localhost:4040/app/gastos") Gastos
      li
        a(href="http://localhost:4040") Cerrar sesion


    
    
    
