
header

  div(class='menu-bar')
    span Menu  
  nav(class='menu')
    ul
      if title == 'Home'
        li(class='active')
          a(href="http://localhost:4040/app") Inicio
      else 
        li          
          a(href="http://localhost:4040/app") Inicio
          
      if title == 'Ingresos'        
        li(class='active')
          a(href="http://localhost:4040/app/ingresos") Ingresos
      else 
        li
          a(href="http://localhost:4040/app/ingresos") Ingresos        
      li
        a(href="http://localhost:4040/app/gastos") Gastos
      li
        a(href="http://localhost:4040") Cerrar sesion


    
    
    
