// mostrar los 

extends ../template/layout

block content
  
  include ../template/menu.jade
  
  main(class='container')
    
    section(class='row')
      
      div(class='col-6')
        h2 Nuevo Ingreso
        
        form(class='form')
          div(class='control')
            label(for="" class='form-label') Categoria
            select(class='form-combo')
              option Salario
              option Bono
          div(class='control')
            label(for='' class='form-label') valor
            input(type="number" class='form-input')
          div(class='control')
            label(for="" class='form-label') Fecha de publicacion
            input(type="date" class='form-input')
          div(class='control')
            button(class='') Registrar
      
      div(class='col-6')      
        h2 Ingresos        
        p estos son los ingresos registrados hasta la fecha de hoy 
        
        table()
          thead
            tr
              th Categoria
              th Valor
              th Fecha Publicacion
              th Opciones
          tbody
            tr
              td(data-label='Categoria') Salario 
              td(data-label='Valor') 905.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') editar eliminar
            tr
              td(data-label='Categoria') Bonos 
              td(data-label='Valor') 10.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') editar eliminar
            tr
              td(data-label='Categoria') Subsidio 
              td(data-label='Valor') 200.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') editar eliminar
            tr
              td(data-label='Categoria') Comisiones
              td(data-label='Valor') 150.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') editar eliminar
            
  
  block script 
