// mostrar los 

extends ../template/layout

block content
  
  include ../template/menu.jade
  
  main(class='container')
    
    section(class='row')
      
      
      div(class='col-12')      
        h2 Ingresos        
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ea vitae assumenda consequatur animi fugit corporis quo quibusdam asperiores natus eius, harum hic neque molestiae? Aliquid optio totam reiciendis voluptates.
        
        p da click #[a(href='http://localhost:4040/app/nuevo') aqui ] para un nuevo ingreso.
        
        table(class='')
          thead
            tr
              th Categoria
              th Valor
              th Fecha Publicacion
              th Opciones
          tbody
            tr
              td(data-label='Categoria') Salario 
              td(data-label='Valor') 905.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') #[a(href='http://localhost:4040/app/editar') #[span(class='icon-pencil') ] ] #[a(href='') #[span(class='icon-cross')]]
            tr
              td(data-label='Categoria') Bonos 
              td(data-label='Valor') 10.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') #[a(href='http://localhost:4040/app/editar') #[span(class='icon-pencil') ] ] #[a(href='') #[span(class='icon-cross')]]
            tr
              td(data-label='Categoria') Subsidio 
              td(data-label='Valor') 200.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') #[a(href='http://localhost:4040/app/editar') #[span(class='icon-pencil') ] ] #[a(href='') #[span(class='icon-cross')]]
            tr
              td(data-label='Categoria') Comisiones
              td(data-label='Valor') 150.000
              td(data-label='Fecha Publicacion') 2016
              td(data-label='Opciones') #[a(href='http://localhost:4040/app/editar') #[span(class='icon-pencil') ] ] #[a(href='') #[span(class='icon-cross')]]
            
  
  block script 
